<div class="page-header">
  <div class="btn-group pull-right">
    <%= button_to("Add new Speaker", new_speaker_path, :class => 'btn-primary', :icon => [ :white, :plus ] ) %>
	</div>

  <h1>Speakers</h1>
</div>

<table id="speakers" class="table hover nowrap">
  <thead>
    <tr>
      <th class="icon">&nbsp;</th>
      <th>Language</th>
      <th>Name</th>
      <th>Based On</th>
      <th class="edit">&nbsp;</th>
      <th class="edit">&nbsp;</th>
    </tr>
  </thead>

  <tbody>
  <% @speakers.each do |speaker| %>
    <tr>
      <td><%= flag(speaker.language) %></td>
      <td><%= speaker.language.try(:name) %></td>
      <td><%= speaker.name %></td>
      <td>
        <% if speaker.base_model? %>
          <strong><%= icon(:inbox) %> Base Model</strong>
        <% else %>
          <%= icon('code-fork')%> <%= speaker.parent.try(:name) || "N/A" %>
        <% end %>
      </td>
      <td>
        <% if speaker == @current_speaker %>
          <%= button_to "Active", '#', :class => 'btn-success btn-small' %>
        <% else %>
          <%= button_to "Activate", activate_speaker_path(speaker), :data => { :method => :post }, :class => 'btn-primary btn-small' %>
        <% end %>
      </td>
      <td>
        <%= link_to "Clone", new_speaker_path(:speaker => { :parent_id => speaker.id, :language_id => speaker.language_id }), :class => 'btn btn-small' %>
        <%= link_to "Show",  speaker, :class => 'btn btn-small' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
