<div class="page-header">
  <div class="btn-group pull-right">
    <%= button_to("Add Transcription", new_transcription_path, icon: :plus ) %>

    <%= dropdown_button("Export", icon: :cog) do %>
      <%= dropdown_link_to("TXT",           export_transcriptions_path(is_active: true, format: :txt) ) %>
      <%= dropdown_link_to("Transcription", export_transcriptions_path(is_active: true, format: :transcription) ) %>
    <% end %>
	</div>

  <h1>Transcriptions</h1>
</div>

<table id="transcriptions" class="table hover nowrap">
  <thead>
    <tr>
      <th>User</th>
      <th>Segment</th>
      <th>Text Body</th>
      <th class="edit">&nbsp;</th>
    </tr>
  </thead>

  <tbody>
  <% @transcriptions.each do |transcription| %>
    <tr>
      <td><%= transcription.user.try(:name) %></td>
      <td><%= dom_id(transcription.segment) %></td>
      <td><%= transcription.text_body %></td>
      <td>
        <% if transcription.is_active %>
          <%= button_to "", '#', icon: :check, class: 'btn-success', title: 'Active' %>
        <% else %>
          <%= button_to "", '#', icon: 'ban-circle', title: 'Not Active' %>
        <% end %>

        <%= link_to "Edit", edit_transcription_path(transcription), :class => 'btn btn-small' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @transcriptions %>

