<div class="page-header">
  <div class="btn-group pull-right">
    <%= button_to("Add new Recording", new_recording_path, :class => 'btn-primary', :icon => [ :white, :plus ] ) %>
	</div>

  <h1>Recordings</h1>
</div>

<table id="recordings" class="table hover nowrap zebra">
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th class="edit">&nbsp;</th>
    </tr>
  </thead>

  <tbody>
  <% @recordings.each do |recording| %>
    <tr class="searchable">
      <td><%= recording.user.try(:name) %></td>
      <td><%= recording.name %></td>
      <td>
        <%= link_to "Open", recording, :class => 'btn btn-small btn-primary' %>
        <%= link_to "Edit", edit_recording_path(recording), :class => 'btn btn-small' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
