<div class="page-header">
  <div class="btn-group pull-right">
    <%= button_to("Overview", recordings_path, :icon => :list) %>
    <%= button_to("Edit", edit_recording_path(@recording), :icon => :edit) %>
	</div>

  <h1><%= @recording.name %></h1>
</div>

<%= box("Trancriber") do %>
  <%= button_to "Launch Transcriber",
       { :controller => :live_transcriber, :id => @recording }, :class => 'btn-primary' %>

  <%= button_to "Add Labels", '#', :class => 'add_labels', :caret => true %>

   <%#= button_to "Realtime Transcriber (experimental)",
        { :controller => :live_transcriber, :action => :realtime, :id => @recording } %>

   <div class="label_importer hide">
     <%= form_tag( import_labels_recording_path(@recording) ) do %>
       <%= text_area_tag :lines, '', :class => '', :placeholder => "3.23\t5.6\tAdd tab-separated labels here .." %>
       <%= submit_tag "Import Labels", :class => 'btn' %>
      <% end %>
   </div>
<% end %>

<%= box("Information") do %>
  <%= dump_table processed: @recording.processed?, segments: @recording.segments.count, words: @recording.words.count %>

  <% if @recording.original_audio_file.file? %>
    <%= audio_tag @recording.original_audio_file, :controls => true, :preload => :none %>
  <% else %>
    <%= alert("No audio file", :warning) %>
  <% end %>
<% end %>
