<div class="page-header">
  <div class="btn-group pull-right">
    <%= button_to("Overview", recordings_path, icon: :list) %>

    <%= dropdown_button("Actions", icon: :cog) do %>
      <% %w(segments words transcriptions reviewed_transcriptions).each do |key| %>
        <%= dropdown_link_to(key.titlecase, send("#{key}_path", recording_id: @recording), icon: :list ) %>
      <% end %>

      <%= divider %>
      <%= dropdown_link_to("Edit", edit_recording_path(@recording), icon: :edit) %>
    <% end %>
	</div>

  <h1><%= @recording.name %></h1>
</div>

<%= box("Trancriber") do %>

  <div class="btn-toolbar">

    <div class="btn-group">
      <%= check_or_unchecked(@recording.processed?) %>
      <%= button_to @recording.processed? ? "Audio prepared" : "Prepare Recording", prepare_recording_path(@recording), data: { method: :post } %>
    </div>

    <div class="btn-group">
      <%= check_or_unchecked(false) %>
      <%= button_to "Transcriber",
         { controller: :transcriber, id: @recording }, class: 'btn-pxrimary' %>
    </div>

    <div class="btn-group">
      <%= check_or_unchecked(false) %>
      <%= button_to "Reviewer",
         { controller: :reviewer, id: @recording }, class: 'btn-pxrimary' %>
    </div>

    <div class="btn-group">
      <%= button_to "Add Segments", '#', class: 'add_segments', caret: true %>
      <%= button_to "Add Words",    '#', class: 'add_words',    caret: true %>
    </div>

  </div>
   <div class="segment_importer hide">
     <%= form_tag( import_segments_recording_path(@recording) ) do %>
       <%= text_area_tag :lines, '', class: '', placeholder: "3.23\t5.6\tAdd tab-separated labels here .." %>
       <%= submit_tag "Import Segments", class: 'btn' %>
      <% end %>
   </div>

   <div class="word_importer hide">
     <%= form_tag( import_words_recording_path(@recording) ) do %>
       <%= text_area_tag :lines, '', class: '', placeholder: "3.23\t5.6\tword\t0.98\t0.7 alternative\t0.6 other_alternative" %>
       <%= submit_tag "Import Words", class: 'btn' %>
      <% end %>
   </div>
<% end %>

<%= box("Status") do %>
  <%= render 'progress', recording: @recording %>

  <%= dump_table( {
        processed: @recording.processed?,
        transcribed: @recording.transcribed?,
        segments: @recording.segments.count,
        words: @recording.words.count,
        transcriptions: @recording.transcriptions.count,
        reviewed_transcriptions: @recording.reviewed_transcriptions.count,
        unassigned_words: @recording.words.unassigned.count }) %>

  <% if @recording.original_audio_file.file? %>
    <%= audio_tag @recording.original_audio_file, controls: true, preload: :none %>
  <% else %>
    <%= alert("No audio file", :warning) %>
  <% end %>
<% end %>
