<div class="page-header">
  <div class="btn-group pull-right">
    <%= button_to("Add new Word", new_word_path, :class => 'btn-primary', :icon => [ :white, :plus ] ) %>
	</div>

  <h1>Words</h1>
</div>

<table id="words" class="table hover nowrap">
  <thead>
    <tr>
      <th>Recording</th>
      <th>Body</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Confidence</th>
      <th class="edit">&nbsp;</th>
    </tr>
  </thead>

  <tbody>
  <% @words.each do |word| %>
    <tr>
      <td><%= word.recording.try(:name) %></td>
      <td><%= word.body %></td>
      <td><%= word.start_time %></td>
      <td><%= word.end_time %></td>
      <td><%= word.confidence %></td>
      <td><%= link_to "Edit", edit_word_path(word), :class => 'btn btn-small' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @words %>
